{% extends 'portfolio/index.html' %}

{% block title %}
O mnie
{% endblock %}

{% block content %}
<div id="highlighted"> 
      <div class="container">
        <div class="row-fluid header">
          <h2 class="page-title"><span>O mnie</span> <small>Kilka słów o moich umiejętnościach i doświadczeniu</small></h2>
        </div>
      </div>
    </div>    
      
    <div id="content">
      <div class="container">       
        <!-- About -->        
        <div class="row">
        
          <div class="span8">           
            
            <div class="block">
            
            <!-- Praca -->
              <h3 class="block-title sub-title sub-title"><span>Doświadczenie zawodowe</span></h3>
              <div class="timeline">
		  			 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2012 - 2014</div>
		  			 	<div class="timeline-item-trigger"><span data-target="#position1" data-toggle="collapse"><i class="icon-minus-sign"></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 data-target="#position1" data-toggle="collapse" class="timeline-item-title">Programista @ Instytut Nauk Społeczno-Ekonomicznych</h3>
							<div id="position1" class="collapse in">
								<p><small class="muted">od 11.2012 do 05.2014</small></p>
								<p>Realizacja projektów programistycznych przy użyciu frameworków django 
									i kivy, w języku Python oraz PHP oraz tworzenie aplikacji wewnętrznych (użytkowych) w języku C#. Administracja, zarządzanie 
									i modyfikacja portali opartych na Joomla. Tworzenie i modyfikacja szablonów stron z wykorzystaniem JavaScript, JQuery, Bootsrap, CSS3 i HTML5. Administracja siecią i zasobami firmy, obsługa informatyczna firmy.</p>	
								<p><a class="noprint" target="_blank" title="" href="http://inse.pl/">→ Strona www</a></p>
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
					 
					 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2012 - teraz</div>
		  			 	<div class="timeline-item-trigger"><span data-target="#position2" data-toggle="collapse"><i class="icon-plus-sign"></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 data-target="#position2" data-toggle="collapse" class="timeline-item-title">Technik IT, inwigilator @ English Language Centre</h3>
							<div id="position2" class="collapse">
								<p><small class="muted">od 05.2012 do teraz</small></p>
								<h4 class="media-heading primary-color">Stowarzyszenie Nauczycieli Akademickich na Rzecz Krzewienia Kultury Języków Europejskich</h4>
								<p>Instalacja, konserwacja sieci, oprogramowania i sprzętu, przeprowadzanie 
									egzaminów z języka angielskiego i nadzór nad nimi.</p>
								<p><a class="noprint" target="_blank" title="" href="http://www.elc.pl/">→ Strona www</a></p>
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
					 
					 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2010</div>
		  			 	<div class="timeline-item-trigger"><span data-target="#position3" data-toggle="collapse"><i class="icon-plus-sign"></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 data-target="#position3" data-toggle="collapse" class="timeline-item-title">Praktykant @ e-Tech</h3>
							<div id="position3" class="collapse">
								<p><small class="muted">od 08.2010 do 09.2010</small></p>
								<h4 class="media-heading primary-color">"e-Tech" Jacek sp.j.</h4>
								<p>Instalacja, konserwacja oprogramowania i sprzętu, projektowanie sieci komputerowych. Montaż i naprawa sprzętu komputerowego.</p>	
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
					 
					 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2007 - 2011</div>
		  			 	<div class="timeline-item-trigger"><span data-target="#position4" data-toggle="collapse"><i class="icon-plus-sign"></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 data-target="#position4" data-toggle="collapse" class="timeline-item-title">Informatyk @ Exorigo</h3>
							<div id="position4" class="collapse">
								<p><small class="muted">od 07.2007 do 12.2011</small></p>
								<h4 class="media-heading primary-color">Exorigo Sp. z o.o.</h4>
								<p>Obsługa informatyczna inwentaryzacji.</p>	
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
		  			 
			  	</div>
		<!-- Edukacja -->
              <h3 class="block-title sub-title sub-title"><span>Edukacja</span></h3>
              <div class="timeline">
		  			<div class="timeline-item">
		  			 	<div class="timeline-item-date">2011 - 2013</div>
		  			 	<div class="timeline-item-trigger"><span data-target="#position5" data-toggle="collapse"><i class="icon-minus-sign"></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 data-target="#position5" data-toggle="collapse" class="timeline-item-title">Studia magisterskie na Politechnice Łódzkiej</h3>
							<div id="position5" class="collapse in">
								<p><small class="muted">od 03.2011 do 03.2013</small></p>
								<h4 class="media-heading primary-color">Wydział: Fizyki Technicznej, Informatyki i Matematyki Stosowanej</h4>
								<p>
									<b>Kierunek:</b> Informatyka<br />
									<b>Specjalność:</b> Sieci komputerowe i systemy teleinformatyczne
								</p>
							</div>
						</div>
					 </div><!--/timeline-item--> 
		           	 <span class="clear"></span>
					 
					 
					  <div class="timeline-item">
		  			 	<div class="timeline-item-date">2007 - 2011</div>
		  			 	<div class="timeline-item-trigger"><span data-target="#position6" data-toggle="collapse"><i class="icon-plus-sign"></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 data-target="#position6" data-toggle="collapse" class="timeline-item-title">Studia inżynierskie na Politechnice Łódzkiej</h3>
							<div id="position6" class="collapse">
								<p><small class="muted">od 09.2007 do 03.2011</small></p>
								<h4 class="media-heading primary-color">Wydział: Fizyki Technicznej, Informatyki i Matematyki Stosowanej</h4>
								<p>
									<b>Kierunek:</b> Informatyka<br />
									<b>Specjalność:</b> Sieci komputerowe i systemy teleinformatyczne
								</p>
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
					
			  	</div>
            </div>
            
            
            <!-- Inne -->
            <div class="block margin-top-large">
              <h3 class="block-title sub-title" id="quotes"><span>Dodatkowe umiejętności</span></h3>
              <blockquote>
                <p>Angielski na poziomie dobrym</p>
                <small>Na studiach ukończony egzaminem na poziomie B2</small>
              </blockquote>
              
              <blockquote>
                <p>Prawo jazdy kategorii B</p>
                <small>Od 2007 roku</small>
              </blockquote>
              
              <blockquote>
                <p>Certyfikat Uczestnictwa jako wolontariusz w „18th World University Cross Country Championship 2012” organizowanych przez FISU i AZS</p>
                <small>W 2012 roku</small>
              </blockquote>
  
            </div>

            <!-- Zainteresowania -->
            <div class="block margin-top-large">
              <h3 class="block-title sub-title" id="quotes"><span>Zainteresowania</span></h3>
              <blockquote>
                <p>Informatyka, sport, muzyka, podróże, kulinaria, fizyka współczesna i astronomia, fantastyka naukowa i literacka, film, taniec</p>
              </blockquote>  
            </div>
          </div>
          
          <!-- sidebar -->
          <div class="span4 sidebar sidebar-right">
            <div class="inner">
              <div class="block">
                <h3 class="block-title sub-title"><span>Programowanie</span></h3>
                <ul class="nav nav-list secondary-nav">
                  <li>
                  	<div class="progress progress-info">
		            	<div class="bar" style="width: 75%">PHP</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-success">
		            	<div style="width: 60%" class="bar">Python</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-warning">
		            	<div class="bar" style="width: 65%">JavaSE</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-danger">
		            	<div class="bar" style="width: 50%">JavaEE</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-info">
		            	<div class="bar" style="width: 70%">C++</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-success">
		            	<div class="bar" style="width: 45%">C#</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-warning">
		            	<div class="bar" style="width: 45%">JavaScript</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-danger">
		            	<div class="bar" style="width: 75%">(x)HTML/HTML5</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-info">
		            	<div class="bar" style="width: 65%">XML</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-success">
		            	<div class="bar" style="width: 80%">CSS3</div>
		          	</div>
                  </li>
                </ul>
              </div>
              <!-- Frameworki -->
              <div class="block">
                <h3 class="block-title sub-title"><span>Frameworki</span></h3>
                <ul class="nav nav-list secondary-nav">
                  <li>
                  	<div class="progress progress-info">
		            	<div class="bar" style="width: 75%">Django (python)</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-success">
		            	<div style="width: 65%" class="bar">Codeigniter (PHP)</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-warning">
		            	<div class="bar" style="width: 35%">Kohana (PHP)</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-danger">
		            	<div class="bar" style="width: 70%">JQuery (JavaScript)</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-info">
		            	<div class="bar" style="width: 65%">Bootstrap (JavaScript & CSS)</div>
		          	</div>
                  </li>
                </ul>
              </div>
              
              <!-- Bazy Danych -->
              <div class="block">
                <h3 class="block-title sub-title"><span>Bazy danych</span></h3>
                <ul class="nav nav-list secondary-nav">
                  <li>
                  	<div class="progress progress-info">
		            	<div class="bar" style="width: 70%">MySQL</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-success">
		            	<div style="width: 70%" class="bar">PostgreSQL</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-warning">
		            	<div class="bar" style="width: 40%">Oracle</div>
		          	</div>
                  </li>
                  <li>
                  	<div class="progress progress-danger">
		            	<div class="bar" style="width: 80%">SQLite</div>
		          	</div>
                  </li>
                </ul>
              </div>
              
              <!-- Inne -->
              <div class="block">
                <h3 class="block-title sub-title"><span>Inne</span></h3>
                <ul class="nav nav-list secondary-nav">
                  <li>
                  	<p><b>Znajomość środowisk programistycznych:</b> Eclipse, Netbeans, Visual Studio i inne</p>
                  </li>
                  <li>
                  	<p><b>Znajomość repozytorii:</b> Git, SVN</p>
                  </li>
                  <li>
                  	<p>Znajomość protokołu SOAP i technologi usług sieciowych</p>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
var child;
$(document).ready(function(){
	$(".timeline-item-trigger").on('click', '.icon-plus-sign',function(){
		$(this).attr('class','icon-minus-sign');
	});
	$(".timeline-item-trigger").on('click', '.icon-minus-sign',function(){
		$(this).attr('class','icon-plus-sign');
	});
	$(document).on('click', '.timeline-item-title',function(){
		child = $(this).parent().parent().children('.timeline-item-trigger').children('span').children('i');
		if (child.attr('class') == 'icon-minus-sign')
			child.attr('class','icon-plus-sign');
		else
			child.attr('class','icon-minus-sign');
	});
});
</script>
{% endblock %}