{% extends 'portfolio/index.html' %}

{% block title %}
Oferta
{% endblock %}

{% block content %}
<div id="highlighted">
  <div class="container">
    <div class="row-fluid header">
      <h2 class="page-title"><span>Oferta</span> <small>Oto w czym mogę ci pomóc!</small></h2>
    </div>
  </div>
</div>
<div id="content">
  <div class="container"> 
    
    <!-- Services -->
    <div class="block services">
      <ul class="thumbnails">
        <li class="span3">
          <h3 class="title"><i class="icon-wrench icon-small icon-inverse-80 _icon-circle"></i> Dedykowane aplikacje</h3>
          <p>Stworzenie aplikacji internetowej od podstaw nie jest dla mnie żadnym problemem. Mogę stworzyć zarówno zaawansowane narzędzie do zarządzania treścią (CMS) i zasobami bazy danych, jak i proste, nowoczesne portfolio.</p>
        </li>
        <li class="span3">
          <h3 class="title"><i class="icon-tag icon-small icon-inverse-80 _icon-circle"></i> Gotowe skrypty</h3>
          <p>Jeśli jesteś kompletnym laikiem w konfiguracji i dostosowywaniu gotowych rozwiązań do swoich potrzeb - służę pomocą: wybór skryptu, odpowiednich pluginów, hostingu i nazwy domeny.</p>
        </li>
        <li class="span3">
          <h3 class="title"><i class="icon-picture icon-small icon-inverse-80 _icon-circle"></i> Design</h3>
          <p>Mogę pomóc w spersonalizowaniu własnego szablonu na bazie gotowych i płatnych. Ponadto jeśli posiadasz szablon przygotowany przez grafika jestem w stanie zakodować go do HTML z zachowaniem standardów W3C.</p>
        </li>
        <li class="span3">
          <h3 class="title"><i class="icon-hdd icon-small icon-inverse-80 _icon-circle"></i> Inne projekty</h3>
          <p>Jeśli potrzebujesz dedykowanej aplikacji desktopowej lub innego rozwiązania, skontaktuj się ze mną, być może będę w stanie pomóc.</p>
        </li>
      </ul>
      <div class="secondary block margin-top-large">
        <div class="row">
          <div class="span4">
            <h3 class="block-title sub-title">Co gawrantuję?</h3>
            <ul class="unstyled">
              <li><i class="icon-ok text-info"></i> Profesjonalne podejście</li>
              <li><i class="icon-ok text-info"></i> Terminowość i dokładność</li>
              <li><i class="icon-ok text-info"></i> Kreatywność</li>
              <li><i class="icon-ok text-info"></i> Zaangażowanie</li>
              <li><i class="icon-ok text-info"></i> Stały kontakt w trakcie realizacji</li>
              <li><i class="icon-ok text-info"></i> Wsparcie techniczne przy wdrożeniu</li>
              <li><i class="icon-ok text-info"></i> Zgodność z obowiązującymi standardami</li>
            </ul>
          </div>
          <div class="span4">
            <h3 class="block-title sub-title">Czego oczekuję?</h3>
            <ul class="unstyled">
              <li><i class="icon-ok text-info"></i> Profesjonalnego podejścia</li>
              <li><i class="icon-ok text-info"></i> Dobrego kontaktu</li>
              <li><i class="icon-ok text-info"></i> Zdecydowania</li>
              <li><i class="icon-ok text-info"></i> Terminowości</li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}