{% extends 'portfolio/index.html' %}

{% block title %}
Błąd {{error}}
{% endblock %}

{% block content %}
 <div id="highlighted">
      <div class="container">
        <div class="row-fluid header">
          <h2 class="page-title"><span>Błąd {{error}}</span> <small> ;[</small></h2>
        </div>
      </div>
    </div> 
        
      
    <div id="content">
      <div class="container">
        
        <div class="row block"><h2>{{message}}</h2></div>
      </div>
    </div>

{% endblock %}